.content
    width: 70%
    height: 80%
    padding: 20px
    display: flex
    flex-direction: column
    gap: 20px

    .question
        background-color: white
        display: flex
        justify-content: center
        align-items: center
        padding: 20px
        border-radius: 20px
        min-height: 200px
        font-size: 2rem

    .options_content
        .options
            display: grid
            grid-template-columns: repeat(2, 1fr)
            gap: 10px
            color: white
            font-size: 1.5rem

            .option1
                display: flex
                justify-content: center
                align-items: center
                background-color: #00B5FF
                min-height: 250px
                border-radius: 20px
                padding: 10px
            .option2
                display: flex
                justify-content: center
                align-items: center
                background-color: #FF52A7
                min-height: 250px
                border-radius: 20px
                padding: 10px
            .option3
                display: flex
                justify-content: center
                align-items: center
                background-color: #25DC44
                min-height: 250px
                border-radius: 20px
                padding: 10px
            .option4
                display: flex
                justify-content: center
                align-items: center
                background-color: #FDD20D
                min-height: 250px
                border-radius: 20px
                padding: 10px
