.content
    display: flex
    gap: 35px

    .filters_container
        position: relative

        display: flex
        gap: 10px
        justify-content: center
        align-items: center
        font-size: 0.9rem

        input
            border: 0
            background-color: var(--light-purple)
            width: 22vw
            height: 35px
            padding: 6px 10px
            border-radius: 10px

        .filters
            width: 10vw
            height: 35px
            display: flex
            align-items: center

            background-color: var(--yellow)
            padding: 6px 10px
            border: 0
            border-radius: 10px

            cursor: pointer

    .options
        position: absolute
        width: 10vw

        background-color: white
        padding: 10px 15px
        border-radius: 10px
        border: 1px solid rgba(0, 0, 0, 0.3)

        p:hover 
            color: var(--purple)
            cursor: pointer

    .hidden
        display: none