.option
    display: flex
    justify-content: space-between
    align-items: center
    background-color: #00B5FF
    min-height: 250px
    border-radius: 20px
    padding: 20px
    font-weight: 600
    &:hover
        opacity: 0.8
    
    .trueOfFalse 
        width: 50px
    

.clicked 
    display: flex
    justify-content: space-between
    align-items: center
    background-color: #00B5FF
    min-height: 250px
    border-radius: 20px
    padding: 10px
    border: 5px solid white
    font-weight: 600
    color: white  
    cursor: not-allowed  
    opacity: 1 

    .trueOfFalse 
        width: 50px
