.select_box
    position: relative 

    .box
        display: flex
        align-items: center
        justify-content: space-between

        width: 10rem
        padding: 5px 10px
        border: 1px solid rgba(0, 0, 0, 0.3)
        border-radius: 7px
        cursor: pointer

    .hidden
        display: none

    .options
        position: fixed

        width: 10rem
        padding: 5px 10px
        border: 1px solid rgba(0, 0, 0, 0.3)
        border-radius: 7px
        cursor: pointer

        p:hover 
            color: var(--purple)


