.content
    display: flex
    flex-direction: column
    gap: 30px

    width: 70%
    border-radius: 30px
    background-color: white
    padding: 60px

    .title
        width: 93%
        font-size: 1.5rem
        font-weight: 700

    .data
        width: 93%
        background-color: var(--light-purple)
        padding: 30px
        border-radius: 15px

        display: flex
        flex-direction: column

        .title_input
            border: 0
            font-size: 1.2rem
            color: black
            font-weight: 500

        .title_input::placeholder
            font-size: 1.5rem
            color: black
            font-weight: 700

        .subtitle_input
            border: 0
            font-size: 1rem
            color: black

        .subtitle_input::placeholder
            font-size: 1rem
            color: black