.navbar_container 
    display: flex
    justify-content: center
    height: 6vh
    min-width: 100%
    background-color: var(--purple)
    position: fixed
    padding: 0px 50px
    z-index: 99

    .navbar 
        width: fit-content
        height: 100%
        display: flex
        align-items: center
        justify-content: space-between
        gap: 100px
        color: white

        ._hidden
            display: none

        .brand_name
            width: 9rem

        .button
            list-style-type: none
            font-size: 1.3rem
            font-weight: 600

// @media (max-width: 512px)
//     .navbar_container
//         width: 100%
//         height: 60px
//         flex-direction: row
//         padding: 0px 20px
//         // bottom: 0

//         .navbar
//             flex-direction: row
        

        